.home{
    height:100%;
}
#main{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

html{
    height: 100%;
    background-color: #FFF6F2;
}

body{
  background-color: inherit;
}

.jumbotron{
    background-color: #F2712F;
    color: #FFE2D4;
}

a.btn.btn-primary.btn-lg {
    color: #B8D2CA;
    background-color: #43A786;
    border-color: #009162;
    margin-left: auto;
}

a.btn.btn-primary.btn-lg:hover {
    color: #C7DFD7;
}

.header{
  color: #F2712F;
  text-align: center;
}

.well{
  background-color: #FFE2D4;
  border-color:#F3C9B5;
}

.announce_body{
  text-align: justify;
}

.date_text{
  color: #F2712F;
}

.sessions{
  color: black;
}
.class_name{
  border-right: 2px solid #F2712F;
}
